h1 {
    color: brown;
   padding-left:30px;
    
}

* {
    border: solid;
}
.header *{
    border:solid;
}
 .header{

    background-color: blue;
    display:flex;
    justify-content: space-between;
    
 }

.grid{
    
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    color:orange
}
.footer{
    background-color: green ;
    display: flex;
    justify-content:flex-end;
}
 p,h2{
     text-align: center;
 }
 body{
     background-color:#707070;
     margin-top:100px;
     margin-left:20px;
     margin-right:20px;
     border-style:dotted;
     padding:25px;
 }
 a:link{
     color:orange;
 }
 a:visited{
     color:white;
 }
 .menu a{
     margin-right:20px;
 }
.item{
    position:relative;
    
}
.item p{
    position:absolute;
    top: 50%;
    bottom:50%;
    transform:translate(80%,-100%);
    opacity:0;
}
.item:hover p{
    opacity:1
}
.item:hover img{
    opacity:0.33;
}